<table style="width:80%;margin:0 5% 0 5%" onclick="alert('trees are in the air')"><tbody>
	<tr>
		<th colspan="3" style="padding:5px;border:1px solid black;background-color:#C5D9F1;font-size:1.2rem">Applicant's Information</th>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"> <span style="font-size:0.8rem">First and Last Name</span><br><span style="font-weight:bold;font-size:1.2rem">{firstName} {lastName}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Phone</span><br><span style="font-weight:bold;font-size:1.2rem">{phoneNumber}</span></td>
		<td style="padding:5px;border:1px solid black;width:50%"><span style="font-size:0.8rem">Email</span><br><span style="font-weight:bold;font-size:1.2rem">{emailAddress}</span></th>
	</tr>
</tbody></table><table style="width:80%;margin:0 5% 0 5%"><tbody>
	<tr>
		<td style="padding:5px;border:1px solid black;width:50%"><span style="font-size:0.8rem">Names of Other Adults</span><br><span style="font-weight:bold;font-size:1.2rem">{otherAdults}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Number of Children</span><br><span style="font-weight:bold;font-size:1.2rem">{numOfKids}</span></td>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Number and type(s) of Pets<br><span style="font-weight:bold;font-size:1.2rem">{numOfPets} - {petType}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Number of occupants that smoke cigarettes or marijuana</span><br><span style="font-weight:bold;font-size:1.2rem">{numOfDruggies}</span></td>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">On a scale of 1-10, how are you as a tenant?</span><br><span style="font-weight:bold;font-size:1.2rem">{tenantScale}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">How much do you have saved for move-in costs?</span><br><span style="font-weight:bold;font-size:1.2rem">${savedAmount}</span></td>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">How did you hear about us?</span><br><span style="font-weight:bold;font-size:1.2rem">{hearAboutUs}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Desired Move-In Date</span><br><span style="font-weight:bold;font-size:1.2rem">{moveDate}</span></td>
	</tr>
</tbody></table><table style="width:80%;margin:0 5% 0 5%"><tbody>
	<tr>
		<th colspan="6" style="padding:5px;border:1px solid black;background-color:#C5D9F1;font-size:1.2rem">Applicant's Rental History</th>
	</tr><tr>
		<td colspan="3" style="padding:5px;border:1px solid black;width:50%"><span style="font-size:0.8rem">Current Address</span><br><span style="font-weight:bold;font-size:1.2rem">{currentAddress}</span></td>
		<td colspan="3" style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Prior Address</span><br><span style="font-weight:bold;font-size:1.2rem">{priorAddress}</span></td>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Date Moved In</span><br><span style="font-weight:bold;font-size:1.2rem">{currentMovedIn}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Date Moved Out</span><br><span style="font-weight:bold;font-size:1.2rem">{currentMovedOut}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Monthly Rent</span><br><span style="font-weight:bold;font-size:1.2rem">${currentMonthlyRent}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Date Moved In</span><br><span style="font-weight:bold;font-size:1.2rem">{priorMovedIn}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Date Moved Out</span><br><span style="font-weight:bold;font-size:1.2rem">{priorMovedOut}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Monthly Rent</span><br><span style="font-weight:bold;font-size:1.2rem">${priorMonthlyRent}</span></td>
	</tr><tr>
		<td colspan="2" style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">LandLord Name</span><br><span style="font-weight:bold;font-size:1.2rem">{currentLandlord}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">LandLord Phone</span><br><span style="font-weight:bold;font-size:1.2rem">{currentLandlordPhone}</span></td>
		<td colspan="2" style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">LandLord Name</span><br><span style="font-weight:bold;font-size:1.2rem">{priorLandlord}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">LandLord Phone</span><br><span style="font-weight:bold;font-size:1.2rem">{priorLandlordPhone}</span></td>
	</tr><tr>
		<td colspan="3" style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Reason For Leaving</span><br><span style="font-weight:bold;font-size:1.2rem">{currentLeave}</span></td>
		<td colspan="3" style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Reason For Leaving</span><br><span style="font-weight:bold;font-size:1.2rem">{priorLeave}</span></td>
	</tr>
</tbody></table><table style="width:80%;margin:0 5% 0 5%"><tbody>
	<tr>
		<th colspan="6" style="padding:5px;border:1px solid black;background-color:#C5D9F1;font-size:1.2rem">Applicant's Income History</th>
	</tr><tr>
		<td colspan="2" style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">1) Employer/Comany Name</span><br><span style="font-weight:bold;font-size:1.2rem">{companyName}</span></td>
		<td colspan="2" style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Occupation/Industry</span><br><span style="font-weight:bold;font-size:1.2rem">{occupation}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">City, State</span><br><span style="font-weight:bold;font-size:1.2rem">{jobLocation}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Position Title</span><br><span style="font-weight:bold;font-size:1.2rem">{position}</span></td>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Supervisor Name</span><br><span style="font-weight:bold;font-size:1.2rem">{supervisorName}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Supervisor Phone</span><br><span style="font-weight:bold;font-size:1.2rem">{supervisorPhone}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Hrs / Weeks</span><br><span style="font-weight:bold;font-size:1.2rem">{schedule}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Start Date</span><br><span style="font-weight:bold;font-size:1.2rem">{startDate}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">End Date</span><br><span style="font-weight:bold;font-size:1.2rem">{endDate}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Monthly Salary</span><br><span style="font-weight:bold;font-size:1.2rem">${monthlySalary}</span></td>
	</tr><tr>
		<td colspan="2" style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">2) Employer/Comany Name</span><br><span style="font-weight:bold;font-size:1.2rem">{companyName1}</span></td>
		<td colspan="2" style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Occupation/Industry</span><br><span style="font-weight:bold;font-size:1.2rem">{occupation1}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">City, State</span><br><span style="font-weight:bold;font-size:1.2rem">{jobLocation1}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Position Title</span><br><span style="font-weight:bold;font-size:1.2rem">{position1}</span></td>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Supervisor Name</span><br><span style="font-weight:bold;font-size:1.2rem">{supervisorName1}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Supervisor Phone</span><br><span style="font-weight:bold;font-size:1.2rem">{supervisorPhone1}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Hrs / Weeks</span><br><span style="font-weight:bold;font-size:1.2rem">{schedule1}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Start Date</span><br><span style="font-weight:bold;font-size:1.2rem">{startDate1}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">End Date</span><br><span style="font-weight:bold;font-size:1.2rem">{endDate1}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Monthly Salary</span><br><span style="font-weight:bold;font-size:1.2rem">${monthlySalary1}</span></td>
	</tr><tr>
		<td style="text-align:right">Other Income:</td>
		<td colspan="3" style="font-weight:bold;font-size:1.2rem">{otherIncome}</td>
		<td style="text-align:right">Other Monthly Income Amount</td>
		<td style="padding:5px;border:1px solid black;font-weight:bold;font-size:1.2rem">${otherIncomeAmount}</td>
	</tr><tr>
		<td colspan="5" style="text-align:right">Total Current Monthly Income from All Income Sources</td>
		<td style="padding:5px;border:1px solid black;font-weight:bold;font-size:1.2rem">${totalIncome}</td>
	</tr>
</tbody></table><table style="width:80%;margin:0 5% 0 5%"><tbody>
	<tr>
		<th colspan="2" style="padding:5px;border:1px solid black;background-color:#C5D9F1;font-size:1.2rem">Other Information</th>
	</tr><tr>
		<td style="padding:5px;border:1px solid black;width:50%"><span style="font-size:0.8rem">How many parking spaces do you need?</span><br><span style="font-weight:bold;font-size:1.2rem">{parking}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">In the last 3 years, how often did you pay bills late?</span><br><span style="font-weight:bold;font-size:1.2rem">{lateBills}</span></td>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Do you work nights or odd hours?</span><br><span style="font-weight:bold;font-size:1.2rem">{oddHours}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Have you ever been evicted or asked to move out?</span><br><span style="font-weight:bold;font-size:1.2rem">{evicted}</span></td>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Do you have frequent overnight guests?</span><br><span style="font-weight:bold;font-size:1.2rem">{overnightGuests}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Have you been sued for bills or been in collections?</span><br><span style="font-weight:bold;font-size:1.2rem">{sued}</span></td>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Do you have issues with community rules?</span><br><span style="font-weight:bold;font-size:1.2rem">{againstRules}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Have you informed your current landlord that you're moving?</span><br><span style="font-weight:bold;font-size:1.2rem">{informedLandlord}</span></td>
	</tr>
</tbody></table><table style="width:80%;margin:0 5% 0 5%"><tbody>
	<tr>
		<th colspan="6" style="padding:5px;border:1px solid black;background-color:#C5D9F1;font-size:1.2rem">Applicant's Emergency Contacts and Personal References</th>
	</tr><tr>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">1) Name</span><br><span style="font-weight:bold;font-size:1.2rem">{person1Name}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Phone</span><br><span style="font-weight:bold;font-size:1.2rem">{person1Phone}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Relationship</span><br><span style="font-weight:bold;font-size:1.2rem">{person1Relationship}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">2) Name</span><br><span style="font-weight:bold;font-size:1.2rem">{person2Name}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Phone</span><br><span style="font-weight:bold;font-size:1.2rem">{person2Phone}</span></td>
		<td style="padding:5px;border:1px solid black"><span style="font-size:0.8rem">Relationship</span><br><span style="font-weight:bold;font-size:1.2rem">{person2Relationship}</span></td>
	</tr>
</tbody></table>