<footer><div>
  <section id="logos">
    <img class="logo" src="image/palmTree.png" alt="La Mirada Country Estates Logo">
		<img class="logo" src="image/texas.png" alt="Texas Star">
  </section>
  <section id="businessLinks">
    <a href="apply">Apply Now</a>
    <a href="contact">Contact Us</a>
  </section>
  <section id="aboutLinks">
    <a href="https://t.ly/cAVi" target="_blank">Google Reviews</a>
    <a href="location">Location</a>
  </section>
  <section id="informationLinks">
    <div><img src="image/phone.png" alt="Icon" style="width:15px;height:15px;margin-right:10px"><a id="tel" href="tel:9563435059">(956) 343-5059</a></div>
    <div><img src="image/address.png" alt="Icon" style="width:20px;height:20px;margin-right:10px"><a id="address" href="https://goo.gl/maps/k38Dr9CE9aMsSTLh7" target="_blank">La Mirada Country Estates<br>8901 US-83 BUS<br>Harlingen, TX, 78552</a></div>
  </section>
</div></footer>
<script src="script/footscript.js"></script>

</div></body></html> <!--div id="root"-->