<script>document.title += " - Location"</script>
<section id="map">
	<h2>Where Are We?</h2>
	<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.760824132832!2d-97.78140338436833!3d26.171917783452198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866f807a25a39da3%3A0xb167f5c2da15a169!2sLa%20Mirada%20Country%20Estates%20(Family%20Mobile%20Home%20and%20RV%20Park)!5e0!3m2!1sen!2sus!4v1665000353861!5m2!1sen!2sus" style="border:0; width: 100%; aspect-ratio: 3/2" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	<p>This area is lovely for such and such and really nice and all.</p>
</section>
<section id="layout">
	<h2>Layout of Park</h2>
	<a href="static/images/layout.png" target="_blank"><img src="static/images/layout.png" alt="Layout of Park"></a>
	<p>This area is lovely for such and such and really nice and all.</p>	
</section>
<section id="activites">
	<h2>Activities in the Area</h2><ul class="noPoints" style="padding:0">
		<li><a target = "_blank" href="https://t.ly/fgA4">Google Search - fun places to go harlingen tx [google.com]</a></li>
		<li><a target = "_blank" href="https://www.tripadvisor.com/Attractions-g55960-Activities-Harlingen_Texas.html">THE 15 BEST Things to Do in Harlingen - 2022 (with Photos) [tripadvisor.com]</a></li>
		<li><a target = "_blank" href="https://www.yelp.com/search?find_desc=things+to+do&find_loc=Harlingen%2C+TX">Top 10 Best Things to Do in Harlingen, TX - October 2022 - Yelp [yelp.com]</a></li>
		<li><a target = "_blank" href="https://www.tripbuzz.com/free-things-to-do/harlingen-tx">34 Free and Cheap Things to Do in Harlingen, TX | TripBuzz [tripbuzz.com]</a></li>
		<li><a target = "_blank" href="https://theculturetrip.com/north-america/usa/texas/articles/the-top-10-things-to-do-and-see-in-harlingen-tx/">10 Awesome Things To Do And See In Harlingen, Texas [theculturetrip.com]</a></li>
		<li><a target = "_blank" href="https://goldencountrycowgirl.com/best-indoor-activities-in-harlingen-texas/">Indoor Activities in Harlingen - When it's just too hot outside! [goldencountrycowgirl.com]</a></li>
		<li><a target = "_blank" href="https://visitharlingentexas.com/things-to-do/">Things to Do - Visit Harlingen, Texas [visitharlingentexas.com]</a></li>
		<li><a target = "_blank" href="https://www.familydaysout.com/kids-things-to-do-usa/harlingen/tx">Things to do in Harlingen with Kids near me - Family Days Out [familydaysout.com]</a></li>
		<li><a target = "_blank" href="https://www.travellens.co/best-things-to-do-in-harlingen-tx/">15 Best Things to Do in Harlingen, TX - Travel Lens [travellens.co]</a></li>
		<li><a target = "_blank" href="https://www.trip.com/travel-guide/attraction/city-18964/tourist-attractions/">Top Things to Do in Harlingen 2022 - Trip.com [trip.com]</a></li>
		<li><a target = "_blank" href="https://trip101.com/article/best-things-to-do-in-harlingen-texas">Best Things To Do In Harlingen, Texas | Trip101 [trip101.com]</a></li>
		<li><a target = "_blank" href="https://livability.com/tx/el-paso/experiences-adventures/el-paso-tx-local-flavor-overview/">Fun Things To Do in Harlingen, TX - Livability [livability.com]</a></li>
		<li><a target = "_blank" href="https://www.tourtexas.com/attractions/Harlingen-things-to-do">Things To Do in Harlingen | Tour Texas [tourtexas.com]</a></li>
		<li><a target = "_blank" href="https://www.groupon.com/local/harlingen-tx/kids-activities">Things To Do With Kids in Harlingen - Groupon [groupon.com]</a></li>
		<li><a target = "_blank" href="https://www.urbanair.com/texas-harlingen/">Urban Air Adventure & Trampoline Park | Harlingen, TX [urbanair.com]</a></li>
		<li><a target = "_blank" href="https://www.snapkalaw.com/top-things-to-do-in-harlingen/">Top Things To Do In Harlingen - Snapka Law Firm [snapkalaw.com]</a></li>
		<li><a target = "_blank" href="https://www.pinterest.com/Audrastravel/harlingen-texas/">28 Best Harlingen Texas ideas - Pinterest [pinterest.com]</a></li>
		<li><a target = "_blank" href="https://www.yellowpages.com/harlingen-tx/fun-places-to-eat">Best 30 Fun Places To Eat in Harlingen, TX with Reviews [yellowpages.com]</a></li>
		<li><a target = "_blank" href="https://www.thingstodopost.org/top-9-things-to-do-in-harlingen-united-states-150891">Top 9 Things to do in Harlingen, United States [thingstodopost.org]</a></li>
	</ul>
</section>

</div> <!--main-->
