<!DOCTYPE html><html lang="en-US"><head>

  <title>La Mirada Country Estates Mobile Home Park</title>
  <base href="../">
  <meta charset="utf-8">
  <link rel="icon" href="static/image/icon.png">
	<link rel="stylesheet" href="static/css/style.css">
	<script src="static/js/headscript.js"></script>

</head><body>

  <div id="root">
  
    <header>
      <a href=""><img id="banner" src="static/image/banner.png" alt="La Mirada Country Estates"></a>
      <nav>
        <a id="navLocation" href="location">Location</a>
        <a id="navContact" href="contact">Contact</a>
        <a id="navApply" href="apply">Apply</a>
      </nav>
    </header>
    <div id="main">